<ng-template #divLoading>
    <mat-grid-list cols="1">
      <mat-grid-tile>
        <mat-spinner></mat-spinner>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>
  <div *ngIf="car; else divLoading" class = "grid p-2 m-3">
    <mat-card class="col-12 sm:col-6">
      <mat-card-header>
        <mat-card-title> {{ car.name }}</mat-card-title>
        <mat-card-subtitle> {{ car.type }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="car.image" alt="">
    </mat-card>
    <mat-card class="col-12 sm:col-6">
      <mat-card-header>
        <mat-card-title>Información</mat-card-title>
        <mat-card-subtitle> {{ car.specifications }}</mat-card-subtitle>
        <mat-card-title>Año</mat-card-title>
        <mat-card-subtitle> {{ car.year }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
  
        <button
          mat-button
          (click)="goList()"
        >
        Regresar
      </button>
      </mat-card-content>
    </mat-card>
  </div>
  
  
  
 